POSTGRES_DB=edacall
POSTGRES_USER=edacall
POSTGRES_PASSWORD=edacall
POSTGRES_PORT=5432

BACKEND_PORT=5000
JWT_SECRET=supersecret

AMI_HOST=asterisk
AMI_PORT=5038
AMI_USERNAME=admin
AMI_PASSWORD=admin
ASTERISK_SIP_CUSTOM_FILE=/asterisk-config/sip_custom.conf
ASTERISK_RECORDINGS_DIR=/asterisk-recordings
ASTERISK_SOUNDS_DIR=/asterisk-sounds
BACKEND_INTERNAL_URL=http://backend:5000
INTERNAL_API_KEY=edacall-internal-key

FRONTEND_PORT=5173
NEXT_PUBLIC_API_URL=http://localhost:5000
